@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  background: hsl(202, 86%, 94%);
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ddd; /* Подходящий цвет для границы */
  border-radius: 0.375rem; /* Радиус для закругления */
}

.input-container input {
  padding-left: 2.5rem; /* Отступ слева для текста */
  border: none; /* Убираем границу для инпута */
  border-radius: 0.375rem; /* Устанавливаем радиус закругления */
}

.input-container .dollar-sign {
  position: absolute; /* Отступ от левого края */
  background-color: hsl(202, 86%, 94%); /* Голубой фон */
  color: hsl(200, 24%, 40%);
  padding: 0.25rem 0.5rem; /* Отступы для значка */ /* Закругление фона */
  font-size: 1rem; /* Размер шрифта для значка */
}
